
* {
    margin: 0;
    padding: 0;
}

body {
    font: 6vw/1.5 tahoma,arial,sans-serif;
    background-color: #f4f4f4;

}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

header {

    width: 100vw;
    height: 15vw;
    background-color: white;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    box-shadow: 1px 1px 1px 1px grey;
    line-height: 15vw;
}

.container {
    overflow: hidden;
}

label {
    display: block;
    margin-left: 10vw;
    margin-top: 5vw;
}

.first {
    margin-top: 18vw;
}

select {
    display: block;
    width: 80vw;
    height: 10vw;
    margin-left: 10vw;
    border-radius: 2vw;
    background-color: white;
    border: none;
    font-size: 5vw;
}
input {
    display: block;
    width: 80vw;
    height: 10vw;
    margin-left: 10vw;
    border-radius: 2vw;
    background-color: white;
    border: none;
    font-size: 5vw;
    vertical-align: middle;
}

input[type=button]{
    margin-top: 5vw;
    background-color: green;
}

a {
    display: block;
    margin-top: 5vw;
    margin-left: 10vw;
}

table {
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vw;
    background-color: honeydew;
    border-radius: 3vw;
    text-align: center;
    box-shadow: 1px 1px 1px 1px grey;
}

.info {
    display: none;
}