<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=0" name="viewport" />
    <title>I want to dance</title>

    {% load staticfiles %}
    <script src="{% static "js/vendor/jquery-1.12.0.min.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
    <link rel="stylesheet" href="{%  static 'css/index.css' %}" />
</head>
<body>
    <header>Dance is good for your health.</header>

    <div class="container">
        {% csrf_token %}

        <label for="name" class="first">Who are you?</label>
        <select id="name">
            <option>siuDong</option>
            <option>louWa</option>
            <option>JV</option>
            <option>bigHead</option>
            <option>villageHead</option>
            <option>JJ</option>
            <option>bookRemember</option>
            <option>others</option>
        </select>

        <label for="time">When to dance?</label>
        <input type="datetime-local" id="time"/>

        <label for="place">Where to dance?</label>
        <select id="place">
            <option>A1</option>
            <option>54</option>
        </select>

        <input type="button" value="OK" onclick="submitDance()"/>

        <a onclick="lookAt()">look at other people</a>
    </div>

    <div class="info">
        <div class="container">
            {% csrf_token %}

            <label for="info_time" class="first">Time</label>
            <input type="date" id="info_time" class="info_date"/>

            <label for="info_place">Place</label>
            <select id="info_place" class="info_place">
                <option>A1</option>
                <option>54</option>
            </select>

            <input type="button" value="瞧一哈" onclick="getDance()"/>
        </div>

        <div class="record">

        </div>

        <a onclick="goBack()">go back</a>
    </div>

</body>
</html>